
#map { 
    height: 60vh;
    width: 60%;
    margin: 1% auto;
    border-radius: 2%;
    box-shadow: 5px 10px #1a1a1a;
    opacity: 80%;
}

h1{
    text-align: center;
    margin-top: 2%;
}
p{
    text-align: center;
    font-weight: bold;
}