<div class="wrap">
    <div class="title">
<h1>Where is<br> International<br> Space Station ?</h1>
<h4>Check this below on map!</h4>

</div>
<img src="../assets/issSvg.png" alt="ISS" class="iss">
</div>
<app-astro></app-astro>
<div class="positions">
    <p id="position">Actual ISS coordinates: Latitude: {{ latitude }} Longitude: {{ longitude }}</p>
    
</div>
<div class="text-center">
    <button type="button" class="btn btn-primary" (click) = "refresh()">Reload position</button>
  </div>

<div id="map"></div>

