
#map { 
    height: 70vh;
    width: 90%;
    margin: 2% auto;
    border-radius: 2%;
    box-shadow: 5px 10px #1a1a1a;
    opacity: 80%;
}

h1{
    
    margin-top: 2%;
    color: #003247;
    font-size: 80px;
}
p{
    font-weight: bold;
    color: black;
}


.wrap {
    
    background-color: white;
    height: 70vh;
    width: 100%;
    margin: 10% auto;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}