/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap');

body{
    background-image: url("https://pixabay.com/get/gc61939f831c2af9be0e42954b9f38942d77cbfe6a80593a9f0b983f4025fe4744b3e691056c1bb735b17c0612075406d_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Baloo 2', cursive;

}