/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap');

body{
    background-image: url("https://images.pexels.com/photos/220201/pexels-photo-220201.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Baloo 2', cursive;
    color: aliceblue;

}
